%h1{:align => "center"}
  Equipment room
  %br/
%h3{:align => "center"}
  = link_to 'Back', equipment_index_path
  %br/
  %br/
  Github :
  %a{:href => "https://github.com/warutbenz/project.git"} https://github.com/warutbenz/project.git
  %br/
  %br/
  Pivotaltracker :
  %a{:href => "https://www.pivotaltracker.com/projects/734007"} 
  %br/
  %br/
  = link_to 'Poster','/equipment/poster'
  %br/
  %br/
  EquipRoom
%table{:align => "center"}
  %tr
    %th รายชื่อสมาชิก
  %tr{:align => "left"}
    %th นาย วรุฒ
    %th ไพศาลสมสุข
    %th 5310611115
  %tr{:align => "left"}
    %th นาย คุณานนต์
    %th คารวะชนะภัย
    %th 5310611222
  %tr{:align => "left"}
    %th นางสาว กิตติพร
    %th พิพัฒน์เจษฎากุล
    %th 5310611321
  %tr{:align => "left"}
    %th นาย กันต์ศักดิ์
    %th ด่านขจร
    %th 5310612683
\           
%b ความต้องการของลูกค้า(Requirements)
%br/
%ul
  \      
  %li
    ลูกค้าต้องการให้ผู้ยืมอุปกรณ์สามารถกรอกรายละเอียดการยืมได้
    %br/
  \      
  %li
    ลูกค้าต้องการให้สามารถตรวจสอบรายละเอียดการยืมอุปกรณ์ได้
    %br/
  \      
  %li
    ลูกค้าต้องการให้ผู้ยืมสามารถต่อเวลาการยืมอุปกรณ์
    %br/
  \      
  %li
    ลูกค้าต้องการให้ลดขั้นตอนการส่งคืนอุปกรณ์
    %br/
  %br/
  %b Applicationช่วยแก้ปัญหา(Benefit)
  %br/
  \      
  %li
    ลูกค้าไม่ต้องเก็บเอกสารการยืมที่เป็นกระดาษ ทำให้ง่ายต่อการจัดเก็บและลดขั้นตอนการยืม
    %br/
  \      
  %li
    ลูกค้าสามารถตรวจสอบรายละเอียดการยืมอุปกรณ์ได้ง่ายมากขึ้น ตรวจสอบรายละเอียดการยืมได้ง่าย
    %br/
  \      
  %li
    ลดการสูญหายของอุปกรณ์และการขาดแคลนอุปกรณ์
    %br/
  \      
  %li
    ลดขั้นตอนในการส่งคืนอุปกรณ์จากผู้ยืมกับลูกค้า
    %br/
  %br/
  %b ผู้มีส่วนได้ส่วนเสีย(stakeholders)
  %br/
  %br/
  %li
    นักศึกษา
    %br/
  %li
    อาจารย์
    %br/
  %li
    เจ้าหน้าที่ดูแลห้องพัสดุ อุปกรณ์
    %br/
\            
%h2
  %b User story
%br/
\      
%b
  Borrow a device
  %br/
  %br/
\      As a Teacher and Student
%br/
%br/
\      So that I can borrow some device
%br/
%br/
\      I want to get the information to borrowing device
%br/
%br/
%br/
\      
%b
  Return a device
  %br/
  %br/
\      As a Teacher and Student
%br/
%br/
\      So that I can return device
%br/
%br/
\      I want to return device
%br/
%br/
%br/
\      
%b
  Renew a device
  %br/
  %br/
\      As a Teacher and Student
%br/
%br/
\      So that I can can renew device
%br/
%br/
\      I want to renew device
%br/
%br/
%br/
\      
%b
  Search a borrower information
  %br/
  %br/
\      As a Teacher and Student
%br/
%br/
\      So that I can search the information of borrower
%br/
%br/
\      I want to get the information of borrower
%br/
%br/
%h2{:align => "center"}
  Lofi
  %br/
  = image_tag("1.JPG")
  %br/
  = image_tag("2.jpg")
  %br/
  Storyboards
  %br/
  = image_tag("3.jpg")
  %br/
  ER diagram
  %br/
  = image_tag("ER.png")