%body
%h2{:align => "center"}
  All Devioce
%table{:align => "center",:border=> "1"}
  %thead
    %tr
      %th IdDevice
      %th NameDevice
      %th Remain
  %tbody
    - @devioces.each do |a|
      %tr
        %td= a.code
        %td= a.name 
        %td= a.remain



%br/

%h3{:align => "center"}
  = link_to'Borrowing' ,'/equipment/borrow'
  = link_to'Recurring' ,'/equipment/recurring' 
  = link_to'Renew' ,'/equipment/renew'
  = link_to'About' ,'/equipment/about' 
  = link_to'Add_Dv' ,'/equipment/login'
  = link_to'Show','/equipment/time'
  
  %br/
  %br/
  Search
  %br/
  %form{:action=>'/equipment/search',:method=>"POST"}
    Std ID
    %input{:type => "text", :name =>"idstd"}/
    %input{:type => "submit", :value => "Search"}/
  %br/
