%h2{:align => "center"}Recurring
%table{:align => "center",:border=> "1"}
  %thead
    %tr
      %th StudentId
      %th StudentName
      %th DeviceId
      %th DeviceName
      %th Amount
      %th Date
      %th ToDate
      %th Recurring
  %tbody
    - @students.each do |s|
      %tr
        %td= s.stdid
        %td= s.stdname
        %td= s.dvid
        %td= s.dvname
        %td= s.amount
        %td= s.date
        %td= s.todate
        %td=link_to "Recurring",equipment_recurritem_path(:id=>s.id,:vid=>s.dvid,:vname=>s.dvname)

%h3{:align => "center"}= link_to 'Back', equipment_recurring_path