%h3{:align => "center"}
  All Student
%table{:align => "center",:border=> "1"}
  %thead
    %tr
      %th StudentId
      %th StudentName
      %th DeviceId
      %th DeviceName
      %th Date
      %th ToDate
      %th RecallDate
      %th Delete
  %tbody
    - @students.each do |s|
      %tr
        %td= s.stdid
        %td= s.stdname
        %td= s.dvid
        %td= s.dvname
        %td= s.date
        %td= s.todate
        %td= s.recalldate
        %td=link_to "Delete",equipment_deletestudent_path(:id=>s.id), :confirm => 'Are you sure?'
%h3{:align => "center"}=link_to "Back",'/equipment/adddv'

        